image:
  repository: lkusmierczyk.jfrog.io/customer-service-docker/customer-service
  tag: 31

imagePullSecrets:
  - name: lkusmierczyk-artifactory-secret

database:
  user: {{ requiredEnv "ELEPHANTSQL_USER" }}
  password: {{ requiredEnv "ELEPHANTSQL_PASSWORD" }}
